
<!--attribute directives-->
<div class="  text-center m-auto p-3" [ngClass]="variableColor">
    <h1>Welcome to class binding</h1>
</div>
<div class=" text-center m-3">
    <button class="btn btn-primary" (click)="blue()">blue</button>
    <button class="btn btn-danger mx-3" (click)="red()">red</button>
    <button class="btn btn-success" (click)="green()">green</button>
</div>

<div [ngStyle]="variableStyle">
    <h2>ng style changes how look into this div</h2>
</div>

<!--ngSWITCH CASES-->
 <div class="text-center" [ngSwitch]="variableSwitch">
    <h1 *ngSwitchCase="'angular'">You choose angular</h1>
    <h1 *ngSwitchCase="'react'">You choose react</h1>
    <h1 *ngSwitchCase="'node'">You choose node</h1>
    <h1 *ngSwitchDefault>You choose wrong course</h1>
 </div>

 <div class="container flex  ">
    <p class="text-center">{{value}}</p>
    <div class="buttons" >
        <button class="btn btn-success" (click)="inc()">Incremnet</button>
    <button class="btn btn-primary mx-3" (click)="dec()">decrement</button>
    <button class="btn btn-danger" (click)="reset()">reset</button>
    </div>
</div>


<router-outlet/>
